footer {
    .color-gris-claro {
        background-color: gray;
        color: white;
        -webkit-text-stroke: 0.2px black;
        margin-top: 50px;

        .copy-black {
            background-color: black;
        }
    }

    .copy-gris {
        background-color: rgb(88, 87, 87);
        color: white;
        -webkit-text-stroke: 0.2px black;
        text-decoration: none;
    }

    .enlace-footer {
        text-decoration: none;
    }

    .enlaces {
        width: 35px;
    }

}