footer {
    .color-gris-claro {
        background-color: gray;
        color: white;
        -webkit-text-stroke: 0.2px black;
        margin-top: 50px;

        .copy-black {
            background-color: black;
        }
    }

    .copy-gris {
        background-color: $three-color;
        color: white;
        -webkit-text-stroke: 0.2px black;
        text-decoration: none;
    }

    .enlace-footer {
        text-decoration: none;
    }

    .enlaces {
        width: 35px;
    }
    .enlaces_animacion{
        @extend .enlaces;
        border: 3px solid rgb(139, 50, 18);
        border-radius: 40%;
    }

}