$estilos:(
    chiquito: 10px,
    mediano: 20px,
    grande: 40px
);
$colors: (
  "primary-color": $primary-color,
  "secondary-color": $secondary-color,
  "box-color": $box-color,
  "text-color": $light,
);